{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}
<h1>MorgenBord</h1>

<ul>
{% for widget in app.request.widgets %}
    <li>{{ widget.shortname }} - {{ widget.name }} - {{ widget.fqcn }}</li>    
{% endfor %}
</ul>
{% endblock %}
