{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}

<h3>User's widgets</h3>
<ul>
{% for widget in userWidgets %}
    <li>{{ include(widget.AtName  ~ '/widget.html.twig') }}</li>    
{% endfor %}
</ul>
{% endblock %}
